body {
    background-color: black;
}

head {
    background-color: black;
}

p {
   color: white;
 }


::selection {
    color: #fff;
    background: #333;
}
::-moz-selection {
    color: #fff;
    background: #333;
}
h1 {
    font-weight: 700;
    font-size: 40px;
    position: relative;
    letter-spacing: -1px;
    line-height: normal;
    color: #fff;
}
h2 {
    font-weight: 700;
    font-size: 35px;
    position: relative;
}
h3 {
    font-weight: 500;
    font-size: 25px;
    position: relative;
}
h4 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.blindText {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
    line-height: 0px;
}
.line_sprite:before,
.line_sprite:after {
    background: #fff;
    content: '';
    display: block;
    width: 10px;
    height: 3px;
    position: absolute;
}
.m_item {
    display: none !important;
}
@media only screen and (max-width: 768px) {
    .m_item {
        display: block !important;
    }
}
.pc_item {
    display: block !important;
}
@media only screen and (max-width: 768px) {
    .pc_item {
        display: none !important;
    }
}
body {
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', 'ë§‘ì€ ê³ ë”•', 'Noto Sans', Dotum, 'ë‹ì›€', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
    line-height: normal;
}
body header {
    position: fixed;
    width: 100%;
    display: block;
    min-height: 28px;
    padding: 0px;
    z-index: 10;
}
html.svg body header {
    background: #222;
}
@media only screen and (max-width: 768px) {
    html.svg body header {
        background: rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.9)), color-stop(1, rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

#wrap .mainPage {
    margin: 0 auto;
    width: 800px;
    padding-top: 110px;
}
@media only screen and (max-width: 768px) {
    #wrap .mainPage {
        padding-top: 90px;
        width: 100%;
    }
}
#wrap .mainPage h1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 52px;
    font-size: 0;
    color: transparent !important;
}
#wrap .mainPage h1 p {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("./img/minititle.png") no-repeat top center;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
    filter: alpha(opacity = (0));
    -webkit-transform: translate(-60px, 0);
    -moz-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    -o-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
    -webkit-transition: all 0.7s cubic-bezier(0.56, 0.01, 0.305, 0.99);
    -moz-transition: all 0.7s cubic-bezier(0.56, 0.01, 0.305, 0.99);
    -o-transition: all 0.7s cubic-bezier(0.56, 0.01, 0.305, 0.99);
    -ms-transition: all 0.7s cubic-bezier(0.56, 0.01, 0.305, 0.99);
    transition: all 0.7s cubic-bezier(0.56, 0.01, 0.305, 0.99);
}
#wrap .mainPage h1 p:before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 395px;
    width: 30px;
    height: 300px;
    margin-bottom: 10px;
    background: url("./images/4x/trophy.png") no-repeat top center;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
    filter: alpha(opacity = (0));
    -webkit-animation: crown 0.7s linear infinite 2s;
    -moz-animation: crown 0.7s linear infinite 2s;
    -ms-animation: crown 0.7s linear infinite 2s;
    -o-animation: crown 0.7s linear infinite 2s;
    animation: crown 0.7s linear infinite 2s;
}
@-webkit-keyframes crown {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@-moz-keyframes crown {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@-ms-keyframes crown {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@-o-keyframes crown {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@keyframes crown {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
#wrap .mainPage h1 p.on {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
    filter: alpha(opacity = (100));
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
#wrap .mainPage h1 strong {
    position: absolute;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 100%;
    height: 100%;
    min-height: 100px;
    background: url("./img/title.png") no-repeat top center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
    filter: alpha(opacity = (0));
}
#wrap .mainPage h1 strong.on {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
    filter: alpha(opacity = (100));
}
@media only screen and (max-width: 768px) {
    #wrap .mainPage h1 {
        width: 100%;
        background-size: 100%;
        height: 90px;
    }
    #wrap .mainPage h1 p {
        margin: 0 auto;
        postion: relative;
        max-width: 405px;
        height: 30px;
        background: url("./img/minititle.png") no-repeat top center;
        background-size: 100%;
    }
    #wrap .mainPage h1 p:before {
        display: none;
    }
    #wrap .mainPage h1 strong {
        display: block;
        position: relative;
        /*margin: 0px auto;*/
        /*max-width: 412px;*/
        height: 120%;
        background: url("./images/4x/title.png") no-repeat top center;
        background-size: 100%;
    }
}
#wrap .mainPage p.script {
    line-height: 1.5;
    font-size: 17px;
    color: white;
    padding-top: 40px;
    /*padding: 55px 10px 15px;*/
}
@media only screen and (max-width: 768px) {
    #wrap .mainPage p.script {
        text-align: center;
        /*padding: 28px 20px 15px;*/
    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


#wrap .t_treble {
    *zoom: 1;
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding-top: 150px;
    padding-right: 10px;
    text-align: center;
}
#wrap .d_treble {
    *zoom: 1;
    margin: 0 auto;
    width: 800px;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    /*text-align: center;*/
}
#wrap .t_double {
    /**zoom: 1;*/
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding-top: 120px;
    padding-right: 10px;
    text-align: center;
}
#wrap .d_double {
    *zoom: 1;
    margin: 0 auto;
    width: 800px;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    /*text-align: center;*/
}
#wrap .d_double {
    *zoom: 1;
    width: 100%;
    height: auto;
    float: left;
    /*text-align: center;*/
}
@media only screen and (max-width: 768px) {
    #wrap .t_treble {
        padding-top: 90px;
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    #wrap .titlePage {
        width: 100%;
        max-width: 780px;
        padding-top: 10px;
        display: inline-block;
    }
}


/*------------------------------double--------------------------------*/
#wrap .d_treble {
    width: 100%;
    height: auto;
    text-align: center;
}
#wrap .d_treble ul {
    *zoom: 1;
    margin: auto;
    display: inline-block;
}
#wrap .d_treble ul:after {
    /*content: '';*/
    clear: both;
    /*display: block;*/
}
#wrap .d_treble ul li {
    float: left;
    width: 90px;
    padding: 0;
}
#wrap .d_treble ul li img {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#wrap .d_double {
    width: 100%;
    height: auto;
    text-align: center;
}
#wrap .d_double ul {
    *zoom: 1;
    width: 900px;
    margin: auto;
    display: inline-block;
padding-right:40px;
}
#wrap .d_double ul:after {
    /*content: '';*/
    clear: both;
    /*display: block;*/
}
#wrap .d_double ul li {
    float: left;
    width: 90px;
    padding: 0;
}
#wrap .d_double ul li img {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 900px) {
    #wrap .d_double ul {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        display: inline-block;
    }
}

@media only screen and (max-width: 900px) {
    #wrap .t_double {
        width: 100%;
        padding-top: 10px;
        display: inline-block;
    }
}
@media only screen and (max-width: 768px) {
    #wrap .t_treble {
        padding-top: 90px;
        width: 100%;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#wrap .titlePage {
    margin: 0 auto;
    width: 900px;
    padding-top: 110px;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    #wrap .titlePage {
        padding-top: 110px;
        width: 100%;
    }
}
/*----------------------------treble------------------------------*/
#wrap .titlePage .title_treble {
    width: 50%;
    height: auto;
    float: left;
}
#wrap .titlePage .title_treble ul {
    *zoom: 1;
}
#wrap .titlePage .title_treble ul:after {
    content: '';
    clear: both;
    display: block;
}


/*------------------------------double--------------------------------*/
#wrap .titlePage .title_double {
    width: 50%;
    height: auto;
    float: right;
}


/*--------------------------------dataPage------------------------------------*/

#wrap .dataPage {
    margin: 0 auto;
    width: 900px;
    padding-top: 30px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    #wrap .dataPage {
        padding-top: 30px;
        width: 100%;
    }
}


/*----------------------------treble------------------------------*/
#wrap .dataPage .treble {
    width: 50%;
    height: auto;
    float: left;
}

#wrap .dataPage .treble ul {
    *zoom: 1;
}
#wrap .dataPage .treble ul:after {
    content: '';
    clear: both;
    display: block;
}
#wrap .dataPage .treble ul li {
    float: left;
    width: 13%;
    padding: 0 3%;
}
#wrap .dataPage .treble ul li img {
    width: 135%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------double--------------------------------*/
#wrap .dataPage .double {
    width: 50%;
    height: auto;
    float: right;
}
#wrap .dataPage .double ul {
    *zoom: 1;
}
#wrap .dataPage .double ul:after {
    content: '';
    clear: both;
    display: block;
}
#wrap .dataPage .double ul li {
    float: left;
    width: 13%;
    padding: 0 3%;
}
#wrap .dataPage .double ul li img {
    width: 135%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

























/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.*/


#wrap #box {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    display: none;
}
#wrap #box #myChart {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box #myChart_1 {
    height: auto;
    position: relative;
    width: 100%;
    max-height: 200px;
    /*display: none;*/
}

#wrap #box_2 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    display: none;
}
#wrap #box_2 #myChart_2 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box #myChart_2_2 {
    height: auto;
    position: relative;
    width: 100%;
    max-height: 200px;
    /*display: none;*/
}

#wrap #box_3 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    display: none;
}
#wrap #box_3 #myChart_3 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_4 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    display: none;
}
#wrap #box_4 #myChart_4 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_4 #myChart_4_2 {
    height: auto;
    position: relative;
    width: 130%;
    min-height: 400px;
    /*display: none;*/
}

#wrap #box_5 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-right: 10px;
    float: left;
    height: auto;
    display: none;
}
#wrap #box_5 #myChart_5 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_5 #myChart_5_2 {
    height: auto;
    position: relative;
    width: 130%;
    min-height: 400px;
    /*display: none;*/
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#wrap #box_6 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_6 #myChart_6 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_7 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_7 #myChart_7 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_8 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_8 #myChart_8 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_9 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_9 #myChart_9 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_10 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_10 #myChart_10 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_11 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_11 #myChart_11 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_12 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_12 #myChart_12 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_13 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_13 #myChart_13 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_14 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_14 #myChart_14 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_15 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_15 #myChart_15 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_16 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_16 #myChart_16 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_17 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_17 #myChart_17 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_18 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_18 #myChart_18 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_19 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_19 #myChart_19 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_20 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_20 #myChart_20 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_21 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_21 #myChart_21 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_22 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_22 #myChart_22 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_23 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_23 #myChart_23 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_24 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_24 #myChart_24 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_25 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_25 #myChart_25 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_26 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_26 #myChart_26 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_27 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_27 #myChart_27 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_28 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_28 #myChart_28 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_29 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_29 #myChart_29 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_30 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_30 #myChart_30 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_31 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_31 #myChart_31 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_32 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_32 #myChart_32 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_33 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_33 #myChart_33 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_34 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_34 #myChart_34 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}
#wrap #box_35 {
    *zoom: 1;
    margin: 0 auto;
    width: 105%;
    padding-top: 0px;
    padding-left: 10px;
    float: right;
    height: auto;
    display: none;
}
#wrap #box_35 #myChart_35 {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 400px;
    /*display: none;*/
}













ul .treble_list li {
    display:inline;
    position: relative;
    padding-right:10px;
    list-style:none;
}
ul .double_list li {
    display:inline;
    position: relative;
    padding-right:10px;
    list-style:none;
}